<!DOCTYPE html>
<html>
<head lang="en">
    <title>Monitor</title>
    <meta charset="utf-8">
    <meta name="description" content="Monitor">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.12.3/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.7/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}?v=0.0.1">
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.12.3/semantic.min.js"></script>
    <script src="{{ url_for('static', filename='javascript/main.js') }}?v=0.0.2"></script>
</head>

{% macro nav_link(endpoint, display) %}
    <a class="{% if request.endpoint == endpoint %}active {% endif %}item"
       href="{{ url_for(endpoint) }}">{{ display }}</a>
{% endmacro %}

<body>
<div class="ui page grid">
    <div class="column">
        <div class="ui inverted menu">
            <div class="item">Monitor</div>
            <div class="right menu">
                <div class="ui mobile dropdown link item">
                    Menu
                    <i class="dropdown icon"></i>

                    <div class="menu">
                        {{ nav_link('macbook_pro', 'Macbook Pro') }}
                    </div>
                </div>
                {{ nav_link('macbook_pro', 'Macbook Pro') }}
            </div>
        </div>
    </div>
</div>
<main class="ui page grid">
    <div id="content" class="column">
        {% block content %}{% endblock %}
    </div>
</main>
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-57814303-1', 'auto');
    ga('send', 'pageview');
</script>
</body>
</html>