body {
    margin: 0;
    padding: 0;
}

.ui.vertical.menu {
    margin-top: -15px !important;
    width: 100%;
    display: none;
}

.menu .right.menu > .mobile.item {
    display: none;
}

#content {
    padding-top: 0em;
}

/* Mobile Only */
@media only screen and (max-width: 768px) {

    .menu .right.menu > .item {
        display: none;
    }

    .menu .right.menu > .mobile.item {
        display: block;
    }

    .menu .right.menu > .mobile.item .menu {
        left: auto;
        right: 0em;
    }
}